---
import FormattedDate from "../../common-astro/components/FormattedDate.astro";
import FormattedAuthor from "./FormattedAuthor.astro";

interface Props {
  title: string;
  description: string;
  path: string;
  releaseDate?: Date;
  author?: string;
}

const { title, description, path, releaseDate, author } = Astro.props;
---

<div class="color-gray-light">
  <h3 class="project-item-header">
    <a href={path}>
      <span class="text-gradient">{title}</span>
    </a>

    <div class="project-item-header-author">
      <FormattedAuthor author={author} />
    </div>

    <div class="project-item-header-date">
      <FormattedDate date={releaseDate} />
    </div>
  </h3>

  <h5 class="project-item-paragraph">
    <span>{description}</span>
  </h5>
</div>
