---
interface Props {
    title: string;
    description: string;
    url: string;
    banner: string;
}

const { title, description, url, banner } = Astro.props;
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import MetaData from "../components/MetaData.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="../images/icon.ico" />

        <title>{title}</title>

        <MetaData title={title} description={description} url={url} banner={banner} />
        <GoogleAnalytics />
    </head>
    <body class="body-dark">
        <slot />
    </body>
</html>
